// _variables.scss

// Black Colors
$semi-transparent-black-light: rgba(0, 0, 0, 0.15);
$semi-transparent-black-dark: rgba(0, 0, 0, 0.1);

// White Colors
$semi-transparent-white: rgba(255, 255, 255, 0.5);
