// _variables.scss

// Gray Colors
$light-gray: #e2e4e6;
$light-gray-alt: #ccc; 

// Black Colors
$semi-transparent-black-light: rgba(0, 0, 0, 0.15);
$semi-transparent-black-dark: rgba(0, 0, 0, 0.1);
$black-light: rgba(0, 0, 0, 0.6);

// White Colors
$semi-transparent-white: rgba(255, 255, 255, 0.5);
$white: #fff;

// Green Colors
$green-light: #61bd4f;
