/* very small mobiles */
@media (max-width: 320px) {
  .search-form-wrapper {
    display: none;
  }

  .top-bar-logo {
    height: 25px;
  }

  .jobs-list {
    width: 26.5rem !important;
    height: 35rem !important;
  }

  .jobs-list-body {
    height: 27rem !important;
  }

  .createElement,
  .createBox {
    left: 8rem;
    top: 3px;
    width: 11rem;
    height: 4rem;
    font-size: 16px;
  }

  .createBox {
    left: 0;
    width: 15rem;
  }

  .footer {
    height: 7rem;
  }
}

/* small mobiles */
@media (min-width: 321px) and (max-width: 480px) {
}

/* small tablets */
@media (min-width: 481px) and (max-width: 768px) {
}

/* big tablets */
@media (min-width: 769px) and (max-width: 1024px) {
}

/* small laptops and desktops */
@media (min-width: 1025px) and (max-width: 1280px) {
}

/* large desktops */
@media (min-width: 1281px) and (max-width: 1440px) {
}

/* very large desktops */
@media (min-width: 1441px) {
}
