.createElement,
.createBox {
  align-self: center;
  background-color: $green;
  border: 2px solid $green;
  border-radius: 12px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: "Arial", sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  padding: 10px 20px;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 4px 6px $semi-transparent-black-dark;
  width: 14rem;
  height: 4rem;
  font-size: 20px;
  text-align: center;
  left: 7rem;
  position: relative;
}

.createBox {
  left: 0;
}

.createElement:hover,
.createBox:hover {
  background-color: $green;
  box-shadow: 0 6px 8px $semi-transparent-black-light;
}

.createElement:active,
.createBox:active {
  background-color: #388e3c;
  box-shadow: 0 2px 4px $semi-transparent-black-dark;
  transform: translateY(2px);
}
